<div id='app'>
  <p>{{message}}</p>
  <input type="text" v-model="message">
  <p>{{number}}(3秒でリセット)</p>
  <p>{{lessThanTen}}</p>
  <p v-show="number>10">ok</p>
  <p v-if="number>10">ok</p>
  <p v-else-if="number>5">soso</p>
  <p v-else="number>10">not ok</p>
  <a v-bind:href = "url">google</a>
  <a :href = "url">google</a>
  <a v-on:click.prevent href = "url">google飛ばないよ</a>
  <button @click = "countUp(1)">click it</button>
  <button v-on:click = "countUp(2)">click it double!</button>
  <p v-on:mousemove = "mousePosition" >mouse move
  <span v-on:mousemove.stop>don't move</span>
  </p>
  <p>X:{{x}} Y:{{y}}</p>
  <input type="text" placeholder="enter押さないで" v-on:keyup.enter = "enterAlert">

</div>

<p>------------------------</p>
<div id='test'>
  <p>ROBCO INDUSTRIES (TM) TERMINAL LINK PROTOCOL</p>
  <p>ENTER PASSWORD NOW</p>
</div>