<div id='app'>
  <p>{{message}}</p>
  <input type="text" v-model="message">
  <p>{{number}}(3秒でリセット)</p>
  <p>{{lessThanTen}}</p>
  <a v-bind:href = "url">google</a>
  <a :href = "url">google</a>
  <a v-on:click.prevent href = "url">google飛ばないよ</a>
  <button @click = "countUp(1)">click it</button>
  <button v-on:click = "countUp(2)">click it double!</button>
  <p v-on:mousemove = "mousePosition" >mouse move
  <span v-on:mousemove.stop>don't move</span>
  </p>
  <p>X:{{x}} Y:{{y}}</p>
  <input type="text" placeholder="enter押さないで" v-on:keyup.enter = "enterAlert">

</div>